<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.mapper.AcceptMapper">

    <resultMap id="BaseResultMap" type="com.liu.entity.Accept">
            <id property="acceptid" column="acceptId" jdbcType="BIGINT"/>
            <result property="entrustid" column="entrustId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        acceptId,entrustId,createTime
    </sql>

    <select id="selectAllList" resultType="com.liu.entity.Accept">
        select a.*,e.context FROM accept a
        LEFT JOIN entrust e ON e.entrustId=a.entrustId
        where
            a.acceptUser = #{userId}
        ORDER BY a.progress ASC,a.createTime DESC
    </select>
</mapper>
